%h4= t('training.title')
%p.help-block= t('help.training')
- if can?(:create, current_user.trainings.build)
  = link_to new_training_path,
            class: "btn btn-success",
            data: { toggle: "modal", target: "#ajax-modal" },
            remote: true do
    = icon('plus', t('training.new'))

%ul.well-list#trainings-list
  - current_user.trainings.each do |item|
    - unless item.new_record?
      = render('trainings/item', item: item)