%table.table.table-hover.table-bordered.show-table
  %tbody
    %tr
      %td= t('simple_form.labels.training.title')
      %td= @training.title
    %tr
      %td= t('simple_form.labels.training.institution')
      %td= @training.institution
    %tr
      %td= t('simple_form.labels.training.country')
      %td= @training.country_name
    %tr
      %td= t('simple_form.labels.training.date')
      %td #{@training.start_date} - #{@training.end_date}
