.row
  .col-md-8
    = render('publications/index')
    = render('conferences/index')
    = render('trainings/index')
    = render('others/index')
  .col-md-4
    %h3= t('help')
    %hr
    %ul
      %li Tips1
      %li Tips2
      %li Tips3