= simple_form_for @profile,
                  url: profile_path,
                  html: { class: 'form-horizontal' },
                  wrapper: :horizontal_form do |f|
  %h3= t('profile.title')
  %hr


  = f.input :first_name
  = f.input :middle_name
  = f.input :last_name
  = f.input :email, disabled: true, required: true

  %hr

  = f.input :gender, collection: Profile::GENDER_TYPES
  = f.input :date_of_birth,
            as: :string,
            input_html: { data: {behaviour: 'datepicker' } }
  = f.input :place_of_birth
  = f.input :country
  = f.input :citizenship

  %h4= t('profile.address')
  %hr

  = f.simple_fields_for :address do |address|
    %p.help-block= t('help.address')
    = address.input :address
    = address.input :city
    = address.input :country
    = address.input :state
    = address.input :postcode

  %hr
  %p.help-block= t('help.when_need_visa')
  = f.input :need_visa, input_html: { 'data-hidden' => 'need-visa' }
  #need-visa{ class: ('hidden' unless @profile.need_visa) }
    %p.help-block= t('profile.visa_description')
    = f.input :passport_number

  .bottom-buttons
    %span.pull-right
      %button.btn.btn-lg.btn-success(type="submit")
        = icon('save', t('profile.save'))