%h4= t('other.title')
%p.help-block= t('help.other')
- if can?(:create, current_user.others.build)
  = link_to new_other_path,
            class: "btn btn-success",
            data: { toggle: "modal", target: "#ajax-modal" },
            remote: true do
    = icon('plus', t('other.new'))

%ul.well-list#others-list
  - current_user.others.each do |item|
    - unless item.new_record?
      = render('others/item', item: item)