%h4= t('publication.title')

%p.help-block= t('help.publication')
- if can?(:create, current_user.publications.build)
  = link_to new_publication_path,
            class: "btn btn-success",
            data: { toggle: "modal", target: "#ajax-modal" },
            remote: true do
    = icon('plus', t('publication.new'))

%ul.well-list#publications-list
  - current_user.publications.each do |item|
    - unless item.new_record?
      = render('publications/item', item: item)