%h3
  = t('publication.title')
  - if can?(:create, current_user.publications.build)
    .pull-right
      = link_to new_publication_path,
                class: "btn btn-success",
                data: { toggle: "modal", target: "#ajax-modal" },
                remote: true do
        = icon('plus', t('publication.new'))
%hr

%p.help-block= t('help.publication')

%ul.well-list#publications-list
  - current_user.publications.each do |item|
    - unless item.new_record?
      = render('publications/item', item: item)