%table.table.table-hover.table-bordered.show-table
  %tbody
    %tr
      %td= t('simple_form.labels.publication.publication_title')
      %td= @publication.publication_title
    %tr
      %td= t('simple_form.labels.publication.title')
      %td= @publication.title
    %tr
      %td= t('simple_form.labels.publication.authors')
      %td= @publication.authors
    %tr
      %td= t('simple_form.labels.publication.editors')
      %td= @publication.editors
    %tr
      %td= t('simple_form.labels.publication.language')
      %td= @publication.language
    %tr
      %td= t('simple_form.labels.publication.publisher')
      %td= @publication.publisher
    %tr
      %td= t('simple_form.labels.publication.year')
      %td= @publication.year
