= simple_form_for @presentation, url: presentation_path do |f|
  %h3
    = t('presentation.title')
    %span.pull-right
      %button.btn.btn-success(type="submit")
        = icon('save', t('presentation.save'))
  %hr

  %p.help-block= t('help.presentation')

  = f.input :title
  = f.input :abstract, input_html: { rows: 11 }
  = f.input :keywords