%h3
  = t('presentation.title')
  = yield :action
%hr
  %h4= presentation.title
  %p= presentation.abstract
  %p
    %strong
      #{t('simple_form.labels.presentation.keywords')}:
    = presentation.keywords
