= simple_form_for @presentation, url: presentation_path do |f|
  %h3
    = t('presentation.title')
    %span.pull-right
      .btn-group
        %button.btn.btn-success(type="submit")
          = icon('save', t('presentation.save'))
        .btn.btn-default
          = icon('question')
  %hr

  = f.input :abstract
