%li.clearfix(id="work-#{item.id}")
  .left
    = link_to_if can?(:edit, item),
                 item.institution,
                 [:edit, item], title: item.institution,
                 remote: true do
      = link_to item.institution, item, remote: true
    %small.light
      (#{item.country_name}, #{item.dates}): #{item.responsibility}

  - if can?(:destroy, item)
    .pull-right
      =link_to item, remote: true,
                     class: 'delete',
                     method: :delete,
                     data: { confirm: t('work.destroy_confirmation') } do
        = icon('times')