%table.table.table-hover.table-bordered.show-table
  %tbody
    %tr
      %td= t('simple_form.labels.work.institution')
      %td= @work.institution
    %tr
      %td= t('simple_form.labels.work.responsibility')
      %td= @work.responsibility
    %tr
      %td= t('simple_form.labels.work.country')
      %td= @work.country_name
    %tr
      %td= t('simple_form.labels.work.date')
      %td #{@work.start_date} - #{@work.end_date}
