%h3= t('work.title')

%hr

%p.help-block= t('help.work')
- if can?(:create, current_user.works.build)
  = link_to new_work_path,
            class: "btn btn-success",
            data: { toggle: "modal", target: "#ajax-modal" },
            remote: true do
    = icon('plus', t('work.new'))

%ul.well-list#works-list
  - @works.each do |item|
    - unless item.new_record?
      = render('item', item: item)
