= simple_form_for @conference,
                  html: { class: 'form-horizontal', role: 'form', id: 'modal_form' },
                  remote: true,
                  wrapper: :horizontal_form do |f|
  = f.input :title
  = f.input :conference_name
  = f.input :presentation_type
  = f.input :country
  = f.input :year
