%h4= t('academic.conferences')
%p.help-block= t('help.conference')
- if can?(:create, current_user.conferences.build)
  = link_to new_conference_path,
            class: "btn btn-success",
            data: { toggle: "modal", target: "#ajax-modal" },
            remote: true do
    = icon('plus', t('conference.new'))

%ul.well-list#conferences-list
  - current_user.conferences.each do |item|
    - unless item.new_record?
      = render('conferences/item', item: item)