%li.clearfix(id="item-#{item.id}")
  .left
    = link_to_if can?(:edit, item), item.title, [:edit, item], title: item.title, remote: true do
      = link_to title, item, remote: true
    %small.light
      #{item.presentation_type} at #{item.conference_name}.
      From #{item.start_date} to #{item.end_date} in #{item.address}.
  - if can? :destroy, item
    .pull-right
      =link_to item, remote: true,
                     method: :delete,
                     class: 'delete',
                     data: { confirm: t('conference.destroy_confirmation') } do
        = icon('times')