%table.table.table-hover.table-bordered.show-table
  %tbody
    %tr
      %td= t('simple_form.labels.conference.title')
      %td= @conference.title
    %tr
      %td= t('simple_form.labels.conference.conference_name')
      %td= @conference.conference_name
    %tr
      %td= t('simple_form.labels.conference.presentation_type')
      %td= @conference.presentation_type_text
    %tr
      %td= t('simple_form.labels.conference.country')
      %td= @conference.country_name
    %tr
      %td= t('simple_form.labels.conference.year')
      %td= @conference.year
