= simple_form_for @motivation, url: motivation_path do |f|
  %h3
    = t('motivation.title')
    %span.pull-right
      .btn-group
        %button.btn.btn-success(type="submit")
          = icon('save', t('motivation.save'))
        .btn.btn-default
          = icon('question')
  %hr

  = f.input :text
