= simple_form_for @general, url: general_path do |f|
  %h3= t('general.title')
  %hr

  %p.help-block= t('general.accept_conditions')
  = f.input :accept
  = f.input :accept_travel
  = f.input :accept_insurance

  %hr
  %p.help-block= t('general.how_hear')

  = f.input :know_from_ces_www
  = f.input :know_from_ces_facebook
  = f.input :know_from_facebook
  = f.input :know_from_newsletter
  .checkbox-form-item
    = f.input :other_websites, input_html: { rows: 3 }
  = f.input :know_from_leaflet
  = f.input :know_from_friends
  .checkbox-form-item
    = f.input :other, input_html: { rows: 3 }
  .bottom-buttons
    %span.pull-right
      %button.btn.btn-lg.btn-success(type="submit")
        = icon('save', t('general.save'))