= simple_form_for @education,
                  html: { class: 'form-horizontal', role: 'form', id: 'modal_form' },
                  remote: true,
                  wrapper: :horizontal_form do |f|
  = f.input :education_type
  = f.input :program_name, as: :text, input_html: { rows: 3 }
  = f.input :university_name
  = f.input :country
  = f.input :date, as: :date_interval, required: true