%h3= t('education.title')
%hr

%p.help-block= t('help.education')
- if can?(:new, current_user.educations.build)
  = link_to new_education_path,
            class: "btn btn-success",
            data: { toggle: "modal", target: "#ajax-modal" },
            remote: true do
    = icon('plus', t('education.new'))

%ul.well-list#educations-list
  - @educations.each do |item|
    - unless item.new_record?
      = render('item', item: item)
