%footer.footer
  .container.clearfix
    .left
      %span.logos-small
        %a{ href: 'http://www.ces.uj.edu.pl' }
          = image_tag('uj.jpg')
        %a{ href: 'http://www.sv.uio.no/arena/english' }
          = image_tag('arena.jpg')
        %a{ href: 'http://eeagrants.org' }
          = image_tag('eea.jpg')
        %a{ href: 'http://eeagrants.org' }
          = image_tag('norway.jpg')
        %a{ href: 'http://www.fss.org.pl/en' }
          = image_tag('fss.jpg')
        %a{ href: 'http://www.neweasterneurope.eu' }
          = image_tag('nee.jpg')

    .pull-right
      %p.text-muted
        © Copyright by
        %br
        %a(href="mailto:mkasztelnik@gmail.com") Marek Kasztelnik
        2015