%legend
  = t('sections.title')

%ul.nav.nav-pills.nav-stacked
  = nav_link(controller: :profiles) do
    = link_to t('profile.title'), profile_path
  = nav_link(controller: :motivations) do
    = link_to t('motivation.title'), motivation_path
  = nav_link(controller: :presentations) do
    = link_to t('presentation.title'), presentation_path
  = nav_link(controller: :educations) do
    = link_to t('education.title'), educations_path
  = nav_link(controller: :academics) do
    = link_to t('academic.title'), academics_path
  = nav_link(controller: :works) do
    = link_to t('work.title'), works_path
  = nav_link(controller: :languages) do
    = link_to t('language.title'), language_path
