%legend
  = t('sections.title')

%ul.nav.nav-pills.nav-stacked
  %li.active
    = link_to t('sections.personal_info'), root_path
  %li
    = link_to t('sections.education'), root_path
  %li
    = link_to t('sections.academic_experience'), root_path
  %li
    = link_to t('sections.relevant'), root_path
  %li
    = link_to t('sections.languages'), root_path
