%h3
  = t('sections.title')
%hr

%ul.nav.nav-pills.nav-stacked
  = nav_link(controller: :profiles) do
    = link_to profile_path do
      = t('profile.title')
      = check_if_ready(current_user.profile)
  = nav_link(controller: :motivations) do
    = link_to motivation_path do
      = t('motivation.title')
      = check_if_ready(current_user.motivation)
  = nav_link(controller: :presentations) do
    = link_to presentation_path do
      = t('presentation.title')
      = check_if_ready(current_user.presentation)
  = nav_link(controller: :educations) do
    = link_to educations_path do
      = t('education.title')
      = education_count
  = nav_link(controller: :academics) do
    = link_to academics_path do
      = t('academic.title')
      = count_badge(current_user.academic_count,
                    id: 'academic-count',
                    class: 'badge-success')
  = nav_link(controller: :works) do
    = link_to works_path do
      = t('work.title')
      = count_badge(current_user.works.count,
                    id: 'work-count',
                    class: 'badge-success')
  = nav_link(controller: :languages) do
    = link_to language_path do
      = t('language.title')
      = check_if_ready(current_user.language)

%hr
#submit
  -if current_user.submitted
    .alert.alert-success.alert-submit{ role: 'alert' }
      = t('application.submitted').html_safe
  - else
    - if current_user.application_ready?
      = render('layouts/application_ready')
    - else
      = render('layouts/application_not_ready')
