%header.navbar.navbar-fixed-top.navbar-default
  .container
    = link_to t('code_name'), root_path, class: 'navbar-brand'

    = render('layouts/status')

    %ul.nav.navbar-nav.pull-right.pull-right
      - if user_signed_in?
        = nav_link controller: :reviews, action: :emails do
          = link_to emails_reviews_path,
                    data: { placement: 'bottom' },
                    title: t('emails.title') do
            = icon('at')
        %li
          = link_to users_path,
                    data: { placement: 'bottom' },
                    title: t('user.title') do
            = icon('users')

        - first_review = current_user.application_reviews.first
        - if first_review
          %li
            = link_to first_review,
                      data: { placement: 'bottom' },
                      title: t('review.title') do
              = icon('eye')

        = nav_link controller: :reviews, action: :index do
          = link_to reviews_path,
                    data: { placement: 'bottom' },
                    title: t('reviews.title') do
            = icon('magnet')

        = nav_link controller: :rankings do
          = link_to ranking_path,
                    data: { placement: 'bottom' },
                    title: t('rankings.title') do
            = icon('bar-chart')

        %p.navbar-text= current_user.name
        %li
          = link_to destroy_user_session_path,
                    data: { placement: 'bottom' },
                    title: t('logout'), method: :delete do
            =icon 'sign-out'
