%header.navbar.navbar-fixed-top.navbar-default
  .container
    = link_to t('code_name'), root_path, class: 'navbar-brand'

    %ul.nav.navbar-nav.pull-right
      - if user_signed_in?
        - first_review = current_user.application_reviews.first
        - if first_review
          = nav_link controller: :reviews, action: :show do
            = link_to first_review,
                      data: { placement: 'bottom' },
                      title: t('review.title') do
              = icon('eye')

        = nav_link controller: :reviews, action: :index do
          = link_to reviews_path,
                    data: { placement: 'bottom' },
                    title: t('reviews.title') do
            = icon('magnet')

        %p.navbar-text= current_user.name
        %li
          = link_to destroy_user_session_path,
                    data: { placement: 'bottom' },
                    title: t('logout'), method: :delete do
            =icon 'sign-out'