!!! 5
%html
  = render 'layouts/head'
  %body
    #main.container
      = render 'layouts/navbar'
      .row
        .col-md-3
          = render('layouts/left_menu')
        .col-md-9
          = render 'layouts/flash'
          = yield
