!!! 5
%html
  = render('layouts/head')
  %body.login-page
    = render('layouts/navbar')
    .container
      = render('layouts/flash')
      .row.prepend-top-20
        .col-sm-4.pull-right
          = yield
        .col-sm-8.pull-left
          %h1
            = t('landing.title')
            %hr
          %h2= t('school_title')
          %p.description= t('landing.description', close_date: close_human_date, title: t('school_title')).html_safe
          %h3= t('landing.organizers_title')
          %p= t('landing.organizers').html_safe

          %h3= t('landing.sponsors_title')
          %p= t('landing.sponsors')

          %h3= t('landing.patronage_title')
          %p= t('landing.patronage')

          %h3= t('landing.contact_title')
          %p= t('landing.contact').html_safe
      #push
    = render('layouts/footer')
    = render('layouts/google_analytics')